* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --text-main: #333333;
  --text-secondary: #00635d;
  --text-tertiary: #382110;
  --background-secondary: #f9f8f4;
  --font-main: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
}
li {
  list-style: none;
}

a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--font-main);
  font-size: 16px;
}
@font-face {
  font-family: Lato;
  src: url(assets/fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: Lato-Black;
  src: url(assets/fonts/Lato-Black.ttf);
}
@font-face {
  font-family: Lato-Bold;
  src: url(assets/fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: Lato-Light;
  src: url(assets/fonts/Lato-Light.ttf);
}

@font-face {
  font-family: Lato-Thin;
  src: url(assets/fonts/Lato-Thin.ttf);
}

@font-face {
  font-family: Merriweather;
  src: url(assets/fonts/Merriweather-Regular.ttf);
}

@font-face {
  font-family: Merriweather-Bold;
  src: url(assets/fonts/Merriweather-Bold.ttf);
}

.container {
  width: 100%;
  max-width: 966px;
  margin: 0 auto;
  padding-left: 0 15px;
}

.header-img-m {
  display: none;
}

.header {
  position: relative;
  height: 370px;
  background-position: center;
  background-image: url("assets/images/background-books.jpg");
}

.header-content {
  position: relative;
}

.goodreads-header-img {
  padding-top: 10px;
  padding-left: 5px;
}

.headline-img {
  margin-top: 70px;
  margin-left: 93px;
}

.main {
  display: flex;
}

.left {
  width: 100%;
}

.sign-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  padding: 24px;
  background: #ffffff;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  position: absolute;
  top: 98px;
  right: 19px;
}

.sign-in-header {
  font-size: 18px;
}

.sign-in-content {
  margin-top: 30px;
}

.social-button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 11.5px 12px;
  margin-bottom: 14px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
}

.facebook {
  background-color: #3b5998;
  border: 1px solid #3b5998;
  color: white;
}

.facebook:hover {
  background-color: #4e69a2;
  border-color: #4e69a2;
}

.facebook img {
  width: 21px;
  height: 21px;
  margin-right: 8px;
}

.amazon {
  background-color: #f5d47a;
  border: 1px solid #b38b22;
  color: #333333;
}

.amazon:hover {
  background-color: #f8c15d;
}

.amazon img {
  width: 21px;
  height: 21px;
  margin-right: 8px;
}

.apple {
  background-color: #ffffff;
  border: 1px solid black;
  color: #333333;
  padding: 6px 0;
}

.apple img {
  width: 32px;
  margin-right: 6px;
}

.email {
  background-color: #382110;
  border: 1px solid #382110;
  color: white;
  padding: 13.2px 0;
}

.email:hover {
  background-color: #58371f;
}

.disclaimer {
  text-align: center;
  padding: 4px 4px 22px 4px;
  font-size: 12px;
  color: #999999;
  margin-top: 10px;
  line-height: 18px;
  border-bottom: 1px solid #d8d8d8;
}

.disclaimer a {
  color: #00635d;
}

.already-member {
  margin-top: 24px;
}
.deciding-what-to-read {
  display: flex;
}

.header-hero {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.paragraph-hero {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  color: var(--text-main);
  font-size: 14px;
  line-height: 18px;
  margin: 18px 0;
  font-size: 14px;
}

.article-hero-l,
.article-hero-r {
  line-height: 18px;
  padding-top: 15px;
  flex: 1;
}

.article-hero-l {
  max-width: 280px;
}
.article-hero-r {
  max-width: 280px;
  margin-left: 29px;
}

/* Discover Section */

.discover {
  margin-top: 8px;
  margin-left: 14px;
  background-color: #f4f2e9;
  border-radius: 10px;
  padding: 2px 0px 0px 0px;
}

.read-discovered-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 19px 14px 11px;
  background-image: url("assets/images/background-color.png");
  background-repeat: repeat-x;
  background-position: bottom;
}
.discover-top {
  margin-bottom: 20px;
}
.discover-heading {
  font-family: var(--font-main);
  font-size: 18px;
  margin: 10px;
}

.discovery-small-heading {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 12px;
  color: var(--text-main);
  margin-bottom: 28px;
}

.book-icon-img {
  height: 120px;
  width: 80px;
  margin-right: 12px;
}

.because-you-read {
  display: flex;
}

.read-discovered-container.other {
  padding-top: 20px;
}

.img-arrow {
  margin: 35px 0 0 0;
}

.you-discovered {
  display: flex;
}

/* Search And Browse */

.search-and-browse-header {
  font-size: 18px;
  font-weight: 400;
  margin-top: 38px;
  margin-left: 14px;
}

.search-input {
  padding: 5px;
  margin: 14px 10px;
  border-radius: 5px;
  background-color: white;
  width: 310px;
  border: 1px solid #999;
  background-image: url(assets/images/MagnifyingGlassIcon.png);
  background-repeat: no-repeat;
  background-position: 280px 5px;
}

.side-text-hero {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 12px;
  font-weight: 700;
  width: 110px;
}

.categories {
  column-count: 4;
}

/* .category a, */

.category a {
  font-size: 14px;
  line-height: 1.3;
  color: #00635d;
  cursor: pointer;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
}
.category a,
.quotes-categories a,
.choice-awards-categories a,
.more-books-url a {
  font-size: 14px;
  color: #00635d;
  cursor: pointer;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
}

/* Quotes Section */

.quotes {
  margin-top: 30px;
}

.quotes > div {
  font-size: 18px;
  line-height: 18px;
  padding-bottom: 10px;
}

.quotes-container {
  display: flex;
}

.quote-container {
  display: flex;
}

.the-quote {
  font-family: "Merriweather", "Georgia", serif;
  font-size: 14px;
  margin: 0px 0px 10px 0px;
  line-height: 21px;
  max-width: 400px;
}

.quotes-categories a {
  line-height: 1.5;
}

/* Choice Awards */
.choice-awards-container {
  margin-top: 14px;
  margin-left: 12px;
  line-height: 18px;
}

.choice-heading {
  font-size: 18px;
  margin-bottom: 16px;
}
.image-and-categories {
  display: flex;
}

.choice-awards-categories {
  margin-left: 16px;
  column-count: 2;
  transform: translate(0, -13px);
}

.choice-awards-categories li {
  font-size: 14px;
  line-height: 2.1;
}

/* Sign In  */

.sign-in {
  width: 300px;
  background-color: #00635d;
}

.right {
  margin: 190px 20px 0;
  max-width: 300px;
  width: 100%;
}

.right-main-img {
  width: 300px;
}

.already-member {
  font-size: 16px;
  text-align: center;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  color: #382110;
}

.already-member a {
  color: #00635d;
}

.right-heading {
  font-family: "Merriweather", "Georgia", serif;
  font-weight: bold;
  margin: 16px 0;
  color: #00635d;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
}

.right-sp {
  margin-top: 15px;
  margin-bottom: 50px;
  font-size: 12px;
}

.right-heading:hover {
  text-decoration: underline;
}

.are-you-an-author {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

.right-bottom p {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 14px;
  color: #181818;
}

.right-bottom-button {
  color: #333333;
  font-size: 11px;
  padding: 4px 12px;
  border-radius: 3px;
  border: 1px solid #d6d0c4;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  background-color: #f4f1ea;
}
.lists-small {
  display: flex;
  margin-bottom: 6px;
}

.lists-heading {
  margin-top: 20px;
  margin-bottom: 10px;
}

.small-books img {
  height: 40px;
}

.more-books-url {
  margin: 20px 0;
}

.lists-left-container {
  display: flex;
  border-bottom: 1px solid #ebece7;
  gap: 6px;
  white-space: nowrap;
  overflow: hidden;
}

.lists-left a {
  color: var(--text-secondary);
  font-family: Lato;
  font-size: 14px;
}

.lists-left p {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 11px;
  line-height: 14px;
  color: #999;
}

.right-buttons {
  margin-top: 28px;
  margin-left: 66px;
}

.footer {
  margin-top: 53px;
  padding: 32px;
  background: #f9f8f4;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 14px;
  max-width: 1220px;
}

.foot-head {
  font-weight: bold;
  text-transform: uppercase;
  color: #767676;
  margin-bottom: 8px;
}

.footer a {
  color: var(--text-main);
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 14px;
}

.footer-list {
  line-height: 18px;
}

.footer-left-wrapper {
  display: flex;
  gap: 88px;
}

.footer-connect ul {
  display: flex;
  margin: 10px 0 0 0;
  gap: 8px;
}

@media (max-width: 900px) {
  .footer-apps ul {
    flex-direction: column;
  }
}

@media (max-width: 762px) {
  .footer-left-wrapper {
    flex-direction: column;
    gap: 20px;
  }
  .footer-apps ul {
    flex-direction: row;
  }
}

@media (max-width: 614px) {
  .footer-apps ul {
    flex-direction: column;
  }
}

.footer-apps ul {
  display: flex;
  gap: 3px;
}

.mobile {
  display: none;
}

/* @media (max-width: 910px) {
  .header-img-m {
    display: block;
    width: 100%;
    display: block;
    width: 100%;
    height: 40px;
    background-image: url(assets/imgMobile/topHeader.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
} */

@media (max-width: 970px) {
  body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font-main);
  }
  .header {
    height: auto;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .header {
    background-image: none;
  }
  .header-m {
    position: fixed;
    z-index: 1000;
    width: 100%;
  }
  .header-img-m {
    display: block;
    width: 100%;
    display: block;
    width: 100%;
    height: 40px;
    background-image: url(assets/tablet/tablettop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .search-goodreads-sign-up-m {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 18px;
    width: 100%;
    background-color: #f4f1ea;
    font-size: 0;
    font-size: 14px;
    font-weight: 400;
    /* max-width: 410px; */
    margin: 0 auto;
  }

  .sign-up-m {
    background-color: #382110;
    border: 1px solid #382110;
    color: white;
    border-radius: 3px;
    padding: 8px 12px;
    font-family: Lato, sans-serif;
    max-width: 410px;
    margin: 0 auto;
  }

  .sign-up-m:hover {
    background-color: #58371f;
  }

  .cursor {
    cursor: pointer;
  }

  .header-logo-m {
    height: 30px;
  }

  .goodreads-img-m {
    padding: 20px 0;
  }

  .navbar-m {
    background-color: #f4f1ea;
  }

  .navbar-cont {
    display: flex;
    justify-content: space-between;
    color: var(--text-tertiary);
    margin: 0 auto;
    max-width: 610px;
  }

  .navbar-cont div {
    padding: 15px 15px;
    font-family: var(--font-main);
    color: var(--text-tertiary);
    margin-top: 90px;
  }

  .navbar-cont div:hover {
    background-color: #382110;
    color: white;
  }

  .sign-in-container {
    position: static;
    width: 100%;
    margin: 60px 0 0 0;
    padding: 0;
    border: none;
    max-width: 410px;
    margin: 0 auto;
  }

  .sign-in-heading {
    font-family: Merriweather-Bold, serif;
    font-size: 22px;
    line-height: 27.5px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 60px;
  }

  .sign-in-container p {
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
  }

  .disclaimer {
    color: black;
    border: none;
  }

  .search-input {
    background-image: url(assets/imgMobile/search.svg);
    background-position: 4px 2px;
    width: 100%;
    padding-left: 40px;
    max-width: 410px;
    margin: 0 auto;
  }

  .search-container {
    max-width: 410px;
    margin: 0 auto;
  }

  .social-button {
    max-width: 398px;
  }
  .images-most-read-m img {
    height: 200px;
  }

  .images-and-lists-m {
    max-width: 410px;
    margin: 0 auto;
  }

  /* AAAAAAAA */

  .images-most-read-m {
    max-width: 410px;
    display: flex;
    max-width: 500px;
    gap: 20px;
    overflow: hidden;
  }
  ul {
    line-height: 1.8;
  }
  .list-best-books-m {
    columns: 2;
  }

  .genres-m {
    margin-top: 20px;
  }

  .genres-header-m {
    width: 10000px;
  }

  .list-best-books-m a,
  .genres-m a,
  .choice-awards-w-m {
    color: #00635d;
    text-decoration: none;
  }

  .images-and-lists-m a:hover,
  .genres-m a:hover,
  .choice-awards-w-m:hover {
    text-decoration: underline;
  }
  .choice-awards-w-m {
    margin-top: 10px;
    margin-bottom: 40px;
  }

  .choice-awards-img-m {
    width: 100%;
  }

  .genres-m {
    max-width: 410px;
    margin: 0 auto;
  }

  .genres-m ul {
    column-count: 2;
  }

  .quotes {
    max-width: 410px;
    margin: 0 auto;
  }

  .quotes-container {
    display: block;
    margin: 0 auto;
    max-width: 410px;
  }

  .quotes-container ul {
    columns: 2;
  }
  .right {
    display: none;
  }

  .choice-awards-m {
    max-width: 410px;
    margin: 0 auto;
  }
}

@media (max-width: 750px) {
  .tablet {
    display: none;
  }

  .header-img-m {
    display: block;
    width: 100%;
    display: block;
    width: 100%;
    height: 40px;
    background-image: url(assets/imgMobile/topHeader.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
